<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atheli.servicesystem.mapper.SysRoleMapper">
    <!-- 在这里写select/insert/update/delete -->
    <select id="findPage" resultType="SysRole">
        select * from sys_role
        <where>
            is_deleted = 0
            <if test="vo.roleName != null and vo.roleName !=''">
                 and role_name like concat('%',#{vo.roleName},'%')
            </if>
        </where>
    </select>
</mapper>
